* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link_login_signup center {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #f54278;
  font-family: "Goldman", cursive;
}
.btn {
  background-color: #4296f5;
  color: #ffff00;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 1.5rem;
}
.btn:hover {
  background-color: #f54278;
  color: #4296f5;
  transition: 1s linear;
}
.submit {
  padding: 12px 20px;
}

/* @media only screen and (max-width:760){ */

.container {
  margin: 2rem;
}
.landing-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}
.landing-wrapper__img img {
  width: 300px;
  height: 200px;
  border: 5px solid #4296f5;
  border-radius: 4px;
}
.landing-wrapper__h4 {
  margin-left: 3rem;
}
.landing-wrapper__h4 h4 {
  margin-top: 1.4rem;
  font-size: 2rem;
  color: yellowgreen;
}
.landing-wrapper__h4 p {
  margin-top: 1.4rem;
  color: orange;
  font-size: 2rem;
}

/**************************HEADER***************************/
.header-wrapper {
  background-color: #4296f5;
  height: 4rem;
}
.header-wrapper__link {
  text-decoration: none;
}
.header-wrapper__link h2 {
  color: #ffff00;
  margin-left: 2rem;
}
/************************NAVBAR***********************************/
nav {
  background-color: #ffff00;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 5rem;
}

.filter-wrapper {
  margin-top: 1rem;
}
.navbar-btn-wrapper {
  margin-top: 1rem;
}
/**********************FOOTER************************/
.footer-wrapper {
  height: 4rem;
  background-color: #4296f5;
}
.footer-wrapper p {
  text-align: center;
  color: orange;
  margin-top: 2rem;
}
/************************IMAGEBYID*************************/
.family {
  margin: 1.7rem;
}
.family-img-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.family-p-wrapper p {
  font-size: 3rem;
  margin: 1rem;

  color: orange;
  border: 8px solid #4296f5;
}
.family-h3-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.family-h4-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.family-h4-wrapper span {
  font-size: x-large;
}
.family-h4-wrapper h4 {
  color: orange;
  margin: 0.5rem;
  font-size: 3rem;
}
.family-h3-wrapper span {
  font-size: x-large;
}
.family-h3-wrapper .family-h3-wrapper-margin-left {
  margin-left: 10rem;
}
.family-h3-wrapper h3 {
  color: #4296f5;
  margin: 0.5rem;
  font-size: 3rem;
}
.family-button-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/***********************************family update form***************/
.family-update-form {
  margin: 2rem;
}
.family-update-form h1 {
  color: orange;
  text-align: center;
}
.family-update-description label {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 1;
  color: #4296f5;
}
.family-update-description textarea {
  height: 2.4rem;
  margin-top: 1rem;
  border-radius: 9px;
}
.family-update-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.family-update-description textarea {
  /* width: 300px; */
  height: 250px;
}
.family-submit {
  margin-top: 1.5rem;
  text-align: center;
}
.family-update-imge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/******************************ADDFamilyImage*********************/
.family-add-form {
  margin: 2rem;
}
.family-add-form h1 {
  text-align: center;
}
.family-add-location {
  text-align: center;
}
.family-add-location label {
  font-size: x-large;
}
.family-add-location input {
  height: 2rem;
  width: 40%;
  border-radius: 4px;
  margin-left: 1rem;
}
.family-add-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.family-add-description label {
  font-size: x-large;
}
.family-add-description textarea {
  /* width: 300px; */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 250px;
}
.family-add-imge {
  margin-top: 1rem;
  text-align: center;
}
/**************************************FamilyTODO*******************************/
.todo {
  margin-left: 4rem;
}
.todo_1 {
  color: yellowgreen;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
  flex: 20% 80%;
}
.todo_1_input {
  margin-left: 1rem;
  flex: 0;
}
.todo_1_p {
  margin-left: 2rem;
  color: yellowgreen;
  margin-left: 1rem;
}
.todo_2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.todo_2_p {
  margin-left: 1rem;
  color: tan;
  width: 30%;
}
.todo_2_remove {
  width: 30%;
  margin-left: 1rem;
}
.todo_2_update {
  width: 30%;
  margin-left: 1rem;
}
.todo--wrapper {
  margin: 2rem;
  /* max-width: 100%; */
}
.checked {
  text-decoration: line-through;
  /* background-color: green; */
  color: goldenrod;
}
.unchecked {
  color: yellowgreen;
  text-decoration: none;
}
.todo-edit {
  outline: none;
  padding: 8px 8px;
}
/******************************TODOUPDATE*******************************/
.todo--update {
  text-align: center;
  margin-top: 2rem;
}
.todo__select {
  width: 40%;
}
.todo__textarea {
  width: 40%;
  margin-top: 1.5rem;
  height: 200px;
  border-radius: 1rem;
}
.todo__update_btn {
  margin-top: 2rem;
}
.todo__update {
  width: 30%;
  margin-left: 1rem;
}
/****************************HEADER*******************************/
.header-wrapper {
  background-color: #4296f5;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-wrapper__link {
  margin-top: 1rem;
  text-decoration: none;
}
.header-wrapper h2 {
  color: #ffff00;
  margin-left: 2rem;
}
.logout-btn {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 10px 10px;
  margin-left: 1rem;
  background-color: #f54278;
}
/***************************SIGNUP********************************/
input[type="text"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
textarea {
  margin-top: 2rem;
  height: 200px;
}
input[type="password"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="email"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="file"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: vertical;
  color: #2b2a28;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
}

input[type="text"],
select,
textarea {
  margin-left: 1rem;
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
select {
  margin-left: 1rem;
  width: 60%;
}
label {
  padding: 12px 12px 12px 0;
  font-size: 20px;
  margin-left: 2rem;
  float: right;
}

input[type="submit"] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.post-item-select-menu {
  color: #2b2a28;
  font-family: "Roboto", sans-serif;
}
.post-item-select-menu::placeholder {
  color: #2b2a28;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
}
.sign-up-login-btn {
  background-color: #ffff00;
  font-size: 1.3rem;
  margin: 2rem 0 2rem 0;
  border-radius: 12px;
  padding: 1rem 1.8rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sign-up-login-btn:hover {
  color: #ffffff;
  background-color: #4296f5;
  box-shadow: 0px 15px 20px rgba(204, 213, 174, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.sign-up-login-btn:focus {
  outline: none;
}
.center {
  text-align: center;
}
.signup-login-header {
  margin: 2rem;
  text-align: center;
}
.sign-up-login-btn center {
  text-align: center;
}
.signup__login__link {
  text-align: center;
}
.link_login_signup {
  background-color: #4296f5;
  font-size: 1.3rem;
  margin: 2rem 0 2rem 0;
  border-radius: 12px;
  padding: 0.6rem 0.8rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.link_login_signup:hover {
  color: #ffffff;
  background-color: #ffff00;
  box-shadow: 0px 15px 20px rgba(204, 213, 174, 0.4);
  color: #000;
  transform: translateY(-3px);
}
.error__signup {
  text-align: center;
}
.signup {
  margin: auto;
  text-align: center;
}
/************************LOGIN**********************/
.login {
  margin: auto;
  text-align: center;
}

/*******************************Pagination**********************************/
.pagination-container {
  text-align: center;
}
.paggination__btn {
  margin-top: 1rem;
  width: 50px;
  background-color: #4296f5;
  height: 50px;
  color: #fff;
  border: 1px solid #f54278;
}
.button-background {
  background-color: #4296f5;
}
/******************************ADDFamilyImage*********************/

.add-family-select-menu {
  color: #2b2a28;
  font-family: "Roboto", sans-serif;
}
.post-item-select-menu::placeholder {
  color: #2b2a28;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
}
.custom-file-input::placeholder {
  color: #2b2a28;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
}
.family-add-form {
  margin: 2rem;
}
.family-add_forms {
  text-align: center;
}
.family-add-form h1 {
  text-align: center;
}
.family--add__container {
  display: flex;
  flex-direction: column;
}
.family-add-location label {
  font-size: x-large;
}
.family-add-location input {
  height: 2rem;
  width: 50%;
}
.family-add-description textarea {
  /* width: 300px; */
  width: 55%;
}
.family-add-imge {
  margin-top: 1rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .btn {
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 12px;
  }

  /********************** landing page**************************/
  .landing-wrapper {
    display: flex;
    justify-content: start;
    text-align: center;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .landing-wrapper__img img {
    width: 150px;
    height: 150px;
  }
  .landing-wrapper__h4 {
    text-align: justify;
    margin-left: 0.4rem;
  }
  .landing-wrapper__h4 h4 {
    margin-top: 0.4rem;
    font-size: 1rem;

    color: orange;
  }
  .landing-wrapper__h4 p {
    margin-top: 1.4rem;
    color: orange;
    font-size: 1.5rem;
  }
  /**************************HEADER***************************/
  .header-wrapper {
    background-color: #4296f5;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
  }
  .header-wrapper__link {
    margin-top: 1rem;
    text-decoration: none;
  }
  .header-wrapper h2 {
    color: #ffff00;
    margin-left: 2rem;
  }
  .logout-btn {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 10px 10px;
    margin-left: 1rem;
    background-color: #f54278;
  }
  /************************NAVBAR***********************************/
  nav {
    background-color: #ffff00;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 3rem;
  }

  .filter-wrapper {
    margin-top: 1rem;
  }
  .navbar-btn-wrapper {
    margin-top: 0.5rem;
    /* margin-left: 2rem; */
  }
  /**********************FOOTER************************/
  .footer-wrapper {
    height: 4rem;
    background-color: #4296f5;
  }
  .footer-wrapper p {
    text-align: center;
    color: orange;
    margin-top: 2rem;
  }
  /************************IMAGEBYID*************************/
  .family {
    margin: 1.7rem;
  }
  .family-img-wrapper img {
    width: 320px;
    height: 300px;
  }
  .family-p-wrapper p {
    font-size: medium;
    margin: 1rem;
    color: orange;
    border: 8px solid #4296f5;
  }
  .family-h3-wrapper {
    display: flex;

    justify-content: start;
    text-align: center;
  }
  .family-h4-wrapper {
    display: flex;
    justify-content: start;
    text-align: center;
  }
  .family-h4-wrapper h4 {
    color: orange;
    margin: 0.5rem;
    font-size: medium;
  }
  .family-h3-wrapper h3 {
    color: #4296f5;
    margin: 0.5rem;
    font-size: medium;
  }
  .family-button-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
  /***********************************family update form***************/
  .family-update-form {
    margin: 2rem;
  }
  .family-update-form h1 {
    color: orange;
    text-align: center;
  }
  .family-update-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .family-update-address label,
  .family-update-time label,
  .family-update-date label,
  .family-update-description label,
  .family-update-imge label {
    font-size: 2rem;
    font-weight: 1;
    color: #4296f5;
  }
  .family-update-address input,
  .family-update-time input,
  .family-update-date input,
  .family-update-description input,
  .family-update-imge input {
    height: 30px;
  }
  .family-update-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .family-update-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .family-update-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .family-update-description textarea {
    /* width: 300px; */
    height: 100px;
  }
  .family-submit {
    margin-top: 1.5rem;
    text-align: center;
  }
  .family-update-imge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  /******************************ADDFamilyImage*********************/
  .family-add-form {
    margin: 2rem;
  }
  .family-add-form h1 {
    text-align: center;
  }
  .family-add-location {
    text-align: center;
  }
  .family-add-location label {
    font-size: x-large;
  }
  .family-add-location input {
    height: 2rem;
    width: 80%;
  }
  .family-add-description textarea {
    /* width: 300px; */
    width: 80%;
  }
  .family-add-imge {
    margin-top: 1rem;
    text-align: center;
  }
  /*******************************SignUp************************/

  .sign-up-login-btn {
    background-color: #ffff00;
    font-size: 1.3rem;
    margin: 2rem 0 2rem 0;
    border-radius: 10px;
    padding: 0.6rem 0.8rem;
  }
  /******************************Login*****************************/
  .login-h2 {
    margin-top: 2rem;
    text-align: center;
  }
  .login {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .login-label-input-wrapper {
    display: flex;
    flex-direction: column;
  }
  .login__label {
    margin-top: 1rem;

    margin-bottom: 0.5rem;
    color: #4296f5;
    font-size: 1.4rem;
  }
  .login__input {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 50px;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
  }
  .login__sign__login__btn {
    margin-top: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
  }
  .login__login__link {
    margin-top: 1rem;
    text-align: center;
  }
  /*******************************Pagination**********************************/
  .pagination-container {
    text-align: center;
  }
  .paggination__btn {
    margin-top: 1rem;
    width: 50px;
    height: 50px;
    border: 1px solid #f54278;
  }
  /**************************************FamilyTODO*******************************/
  .todo {
    margin-left: 1rem;
  }
  .todo_1 {
    color: yellowgreen;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    flex: 20% 80%;
  }
  .todo_1_input {
    flex: 0;
  }
  .todo_1_p {
    color: yellowgreen;
    margin-left: 1rem;
  }
  .todo_2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
  .todo_2_p {
    color: tan;
    width: 30%;
  }
  .todo_2_remove {
    width: 30%;
    margin-left: 1rem;
  }
  .todo_2_update {
    width: 30%;
    margin-left: 1rem;
  }
  .todo--wrapper {
    margin: 2rem;
    /* max-width: 100%; */
  }
  .checked {
    text-decoration: line-through;
    /* background-color: green; */
    color: goldenrod;
  }
  .unchecked {
    color: yellowgreen;
    text-decoration: none;
  }
  .todo-edit {
    padding: 10px 12px;
  }
  /******************************TODOUPDATE*******************************/
  .todo--update {
    text-align: center;
    margin-top: 2rem;
  }
  .todo__select {
    width: 60%;
  }
  .todo__textarea {
    width: 300px;
    margin-top: 1.5rem;
    height: 150px;
    border-radius: 1rem;
  }
  .todo__update {
    width: 30%;
    margin-left: 1rem;
  }
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  label {
    padding: 12px 12px 12px 0;
    font-size: 20px;
    margin: 0 2.4rem;
    float: left;
  }
  select {
    margin-left: 2rem;
  }
  textarea {
    margin-top: 1rem;
    height: 150px;
    margin-left: 2rem;
  }
}
